{
  "swagger": "2.0",
  "info": {
    "description": "Capa de serveis, funcions i accions",
    "version": "1.0.0",
    "title": "Capa de serveis, funcions i accions",
    "contact": {
      "name": "Sergio Corras",
      "email": "sergio.corras@iecisa.com"
    },
    "license": {
      "name": "Llicència IMI"
    }
  },
  "host": "rpa-int.icp.ajuntament.bcn",
  "basePath": "/services/gpaserveis/rest",
  "tags": [
    {
      "name": "Serveis Portal API",
      "description": "Serveis Portal Rest Controller"
    }
  ],
  "paths": {
    "/serveis/portal/expedients": {
      "get": {
        "tags": [
          "Funcions de consulta al repositori de dades d'expedients",
          "Serveis Portal API"
        ],
        "summary": "Cerca d'expedients",
        "operationId": "cercaExpedientsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "codiExpedient",
            "in": "query",
            "description": "Filtra expedients per codi",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "codiProcediment",
            "in": "query",
            "description": "Filtra expedients per codi del procediment",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dataPresentacioFi",
            "in": "query",
            "description": "Filtra expedients per data de presentació",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "dataPresentacioInici",
            "in": "query",
            "description": "Filtra expedients per data de presentació",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "estat",
            "in": "query",
            "description": "Filtra expedients per estat",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "EN_PREPARACIO",
              "EN_REVISIO",
              "PENDENT_SUBSANACIO",
              "EN_TRAMITACIO",
              "PENDENT_ALEGACIONS",
              "PENDENT_INFORMES",
              "PROPOSAT_RESOLUCIO",
              "RESOLT",
              "TANCAT"
            ]
          },
          {
            "name": "nifSolicitant",
            "in": "query",
            "description": "Filtra expedients d'un sol·licitant",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "numeroPagina",
            "in": "query",
            "description": "Indicarà en quina pàgina hauria de començar els resultats demanats en una cerca",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "resultatsPerPagina",
            "in": "query",
            "description": "Indicarà el número de resultats per pàgina",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "unitatGestora",
            "in": "query",
            "description": "Filtra expedients per Unitat Gestora",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "numeroRegistre",
            "in": "query",
            "description": "Filtra expedients per número registre",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaCercaProcediments"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      },
      "post": {
        "tags": [
          "Funcions d'execució d'accions",
          "Serveis Portal API"
        ],
        "summary": "Crear una sol·licitud d'un expedient",
        "operationId": "crearSolicitudExpedientUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "solicitudExpedient",
            "description": "Identificador de l'expedient",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SolicitudCrear"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaCrearSolicitud"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      }
    },
    "/serveis/portal/expedients/{idExpedient}": {
      "get": {
        "tags": [
          "Funcions de consulta al repositori de dades d'expedients",
          "Serveis Portal API"
        ],
        "summary": "Consultar les dades de l'expedient",
        "operationId": "consultarDadesExpedientUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idExpedient",
            "in": "path",
            "description": "Identificador de l'expedient",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaConsultaExpedients"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      },
      "put": {
        "tags": [
          "Funcions d'execució d'accions",
          "Serveis Portal API"
        ],
        "summary": "Actualitzar dades de la sol·licitud de l'expedient",
        "operationId": "actualitzarSolicitudExpedientUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idExpedient",
            "in": "path",
            "description": "Identificador de l'expedient",
            "required": true,
            "type": "number"
          },
          {
            "in": "body",
            "name": "solicitudExpedient",
            "description": "Identificador de l'expedient",
            "required": false,
            "schema": {
              "$ref": "#/definitions/SolicitudActualitzar"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaActualitzarSolicitud"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "gestor": "Perfil usuari gestor"
        }
      }
    },
    "/serveis/portal/expedients/{idExpedient}/obrir": {
      "post": {
        "tags": [
          "Funcions d'execució d'accions",
          "Serveis Portal API"
        ],
        "summary": "Obrir la sol·licitud de l'expedient",
        "operationId": "obrirSolicitudExpedientUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idExpedient",
            "in": "path",
            "description": "Identificador de l'expedient",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaObrirSolicitud"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "gestor": "Perfil usuari gestor"
        }
      }
    },
    "/serveis/portal/expedients/{idExpedient}/registre": {
      "post": {
        "tags": [
          "Funcions d'execució d'accions",
          "Serveis Portal API"
        ],
        "summary": "Registrar la sol·licitud de l'expedient",
        "operationId": "registrarSolicitudExpedientUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idExpedient",
            "in": "path",
            "description": "Identificador de l'expedient",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaRegistrarSolicitud"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "gestor": "Perfil usuari gestor"
        }
      }
    },
    "/serveis/portal/procediments": {
      "get": {
        "tags": [
          "Funcions d'integració amb RPA",
          "Serveis Portal API"
        ],
        "summary": "Cerca de procediments",
        "operationId": "cercaProcedimentsUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "actiu",
            "in": "query",
            "description": "Filtra aquells procediments entre els que tinguin el període de sol·licitud obert i els que no",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "codi",
            "in": "query",
            "description": "Filtra procediments per codi",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "descripcio",
            "in": "query",
            "description": "Filtra procediments per descripció",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "estat",
            "in": "query",
            "description": "Filtra procediments per estat",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "EN_ELABORACIO",
              "PUBLICAT",
              "FINALITZAT"
            ]
          },
          {
            "name": "inici",
            "in": "query",
            "description": "Filtra procediments per tipus d'inici",
            "required": false,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "OFICI",
              "SOLICITUD",
              "ADMINISTRACIO",
              "ALTRES"
            ]
          },
          {
            "name": "intern",
            "in": "query",
            "description": "Filtra procediments interns",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "numeroPagina",
            "in": "query",
            "description": "Indicarà en quina pàgina hauria de començar els resultats demanats en una cerca",
            "required": false,
            "type": "integer",
            "default": 1,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "resultatsPerPagina",
            "in": "query",
            "description": "Indicarà el número de resultats per pàgina",
            "required": false,
            "type": "integer",
            "default": 20,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "ugo",
            "in": "query",
            "description": "Filtra procediments per Unitat Gestora Operativa",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "ugr",
            "in": "query",
            "description": "Filtra procediments per Unitat Gestora Responsable",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "versio",
            "in": "query",
            "description": "Filtra procediments per versió",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaCercaProcediments"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      }
    },
    "/serveis/portal/procediments/{idProcediment}": {
      "get": {
        "tags": [
          "Funcions d'integració amb RPA",
          "Serveis Portal API"
        ],
        "summary": "Consultar les dades del procediment",
        "operationId": "consultarDadesProcedimentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idProcediment",
            "in": "path",
            "description": "Identificador del procediment",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaConsultaProcediments"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      }
    },
    "/serveis/portal/procediments/{idProcediment}/tramits/{idTramit}/atributs": {
      "get": {
        "tags": [
          "Funcions d'integració amb RPA",
          "Serveis Portal API"
        ],
        "summary": "Consultar les dades d'operació del tràmit",
        "operationId": "consultarDadesOperacioProcedimentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idProcediment",
            "in": "path",
            "description": "Identificador del procediment",
            "required": true,
            "type": "number"
          },
          {
            "name": "idTramit",
            "in": "path",
            "description": "Identificador del tràmit",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaDadesOperacio"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      }
    },
    "/serveis/portal/procediments/{idProcediment}/tramits/{idTramit}/documentacio": {
      "get": {
        "tags": [
          "Funcions d'integració amb RPA",
          "Serveis Portal API"
        ],
        "summary": "Consultar les dades de documentació del procediment",
        "operationId": "consultarDocumentacioProcedimentUsingGET",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "idProcediment",
            "in": "path",
            "description": "Identificador del procediment",
            "required": true,
            "type": "number"
          },
          {
            "name": "idTramit",
            "in": "path",
            "description": "Identificador del tràmit",
            "required": true,
            "type": "number"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RespostaConsultaDocuments"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false,
        "x-imi-roles": {
          "consulta": "Perfil usuari consulta"
        }
      }
    }
  },
  "definitions": {
    "Atributs": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi de l'atribut"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció de l'atribut"
        },
        "ordre": {
          "type": "string",
          "description": "Ordre del atribut dins del grup"
        },
        "tipus": {
          "type": "string",
          "description": "Tipus de camp de l'atribut",
          "enum": [
            "INTEGER",
            "DOUBLE",
            "DATE",
            "DATETIME",
            "TIME",
            "STRING",
            "LARGE",
            "CHECK",
            "PAIS",
            "PROVINCIA",
            "MUNICIPI"
          ]
        },
        "urlAjuda": {
          "type": "string",
          "description": "URL d'ajuda a nivell d'atribut"
        },
        "urlValidacio": {
          "type": "string",
          "description": "URL de validació a nivell d'atribut"
        },
        "validacions": {
          "type": "string",
          "description": "Validacións de l'atribut"
        }
      },
      "title": "Atributs"
    },
    "AtributsExpedient": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi de l'atribut"
        },
        "id": {
          "type": "number",
          "description": "Identificador de l'atribut"
        },
        "valor": {
          "type": "string",
          "description": "Valor de l'atribut"
        }
      },
      "title": "AtributsExpedient"
    },
    "DadesContacte": {
      "type": "object",
      "properties": {
        "bloc": {
          "type": "string",
          "description": "Bloc"
        },
        "codiPostal": {
          "type": "string",
          "description": "Codi Postal"
        },
        "email": {
          "type": "string",
          "description": "Email"
        },
        "escala": {
          "type": "string",
          "description": "Escala"
        },
        "fax": {
          "type": "string",
          "description": "Fax"
        },
        "mobil": {
          "type": "string",
          "description": "Telèfon mobil"
        },
        "municipi": {
          "type": "string",
          "description": "Municipi"
        },
        "municipiEstranger": {
          "type": "string",
          "description": "Municipi estranger"
        },
        "nomVia": {
          "type": "string",
          "description": "Nom de la via"
        },
        "numero": {
          "type": "string",
          "description": "Número"
        },
        "pais": {
          "type": "string",
          "description": "Pais"
        },
        "pis": {
          "type": "string",
          "description": "Pis"
        },
        "porta": {
          "type": "string",
          "description": "Porta"
        },
        "provincia": {
          "type": "string",
          "description": "Provincia"
        },
        "provinciaEstranger": {
          "type": "string",
          "description": "Provincia estrangera"
        },
        "telefon": {
          "type": "string",
          "description": "Telèfon fixe"
        },
        "tipusVia": {
          "type": "string",
          "description": "Tipus de via"
        }
      },
      "title": "DadesContacte"
    },
    "DadesIdentificacio": {
      "type": "object",
      "properties": {
        "informacioCiutada": {
          "type": "string",
          "description": "Informació complementària per a mostrar al ciutadà"
        },
        "nivellAutenticacio": {
          "type": "string",
          "description": "Nivell d'autenticació requerit"
        },
        "terminisDuracio": {
          "$ref": "#/definitions/TerminisDuracio"
        }
      },
      "title": "DadesIdentificacio"
    },
    "DadesOperacio": {
      "type": "object",
      "properties": {
        "grups": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Grups"
          }
        },
        "tramit": {
          "$ref": "#/definitions/Tramits"
        }
      },
      "title": "DadesOperacio"
    },
    "DocumentActualitzar": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del document"
        },
        "id": {
          "type": "string",
          "description": "Identificador del document"
        },
        "nom": {
          "type": "string",
          "description": "Nom del document"
        }
      },
      "title": "DocumentActualitzar"
    },
    "DocumentConsulta": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del document"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del document"
        },
        "descripcioAmpliada": {
          "type": "string",
          "description": "Descripció ampliada del document"
        },
        "id": {
          "type": "number",
          "description": "Identificador del document"
        },
        "obligatori": {
          "type": "boolean",
          "description": "Obligatori"
        },
        "repetible": {
          "type": "boolean",
          "description": "Repetible"
        },
        "suportConfeccio": {
          "type": "string",
          "description": "Suport per a la confecció del document",
          "enum": [
            "SENSE_SUPORT",
            "PLANTILLA",
            "GUIA",
            "FORMULARI"
          ]
        },
        "suportEnllac": {
          "type": "string",
          "description": "Enllaç document de suport per a la confecció del document"
        }
      },
      "title": "DocumentConsulta"
    },
    "DocumentExpedient": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del document"
        },
        "id": {
          "type": "number",
          "description": "Identificador del document"
        },
        "nom": {
          "type": "string",
          "description": "Nom del document"
        }
      },
      "title": "DocumentExpedient"
    },
    "DocumentIdentitat": {
      "type": "object",
      "properties": {
        "numeroDocument": {
          "type": "string",
          "description": "Número de document d'identitat de la persona"
        },
        "pais": {
          "type": "string",
          "description": "Codi ISO del país del document d'identitat de la persona"
        },
        "tipusDocument": {
          "type": "string",
          "description": "Tipus de document d'identitat de la persona",
          "enum": [
            "NIF",
            "NIE",
            "CIF",
            "PASSAPORT",
            "DOCUMENT_IDENTITAT_ESTRANGER",
            "DOCUMENT_EMPRESA_ESTRANGERA"
          ]
        }
      },
      "title": "DocumentIdentitat"
    },
    "ExpedientsCerca": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi de l'expedient"
        },
        "dataModificacio": {
          "type": "string",
          "description": "Data de l'última modificació de l'expedient"
        },
        "dataPresentacio": {
          "type": "string",
          "description": "Data de presentació de l'expedient"
        },
        "estat": {
          "type": "string",
          "description": "Estat actual del procediment",
          "enum": [
            "EN_PREPARACIO",
            "EN_REVISIO",
            "PENDENT_SUBSANACIO",
            "EN_TRAMITACIO",
            "PENDENT_ALEGACIONS",
            "PENDENT_INFORMES",
            "PROPOSAT_RESOLUCIO",
            "RESOLT",
            "TANCAT"
          ]
        },
        "id": {
          "type": "number",
          "description": "Identificador de l'expedient"
        },
        "procediment": {
          "$ref": "#/definitions/ProcedimentCerca"
        },
        "solicitant": {
          "$ref": "#/definitions/Persona"
        },
        "unitatGestora": {
          "description": "Unitat gestora",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "ExpedientsCerca"
    },
    "ExpedientsConsulta": {
      "type": "object",
      "properties": {
        "atributs": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/AtributsExpedient"
          }
        },
        "codi": {
          "type": "string",
          "description": "Codi de l'expedient"
        },
        "dataModificacio": {
          "type": "string",
          "description": "Data de l'última modificació de l'expedient"
        },
        "dataPresentacio": {
          "type": "string",
          "description": "Data de presentació de l'expedient"
        },
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentExpedient"
          }
        },
        "estat": {
          "type": "string",
          "description": "Estat actual del procediment",
          "enum": [
            "EN_PREPARACIO",
            "EN_REVISIO",
            "PENDENT_SUBSANACIO",
            "EN_TRAMITACIO",
            "PENDENT_ALEGACIONS",
            "PENDENT_INFORMES",
            "PROPOSAT_RESOLUCIO",
            "RESOLT",
            "TANCAT"
          ]
        },
        "historics": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Historic"
          }
        },
        "id": {
          "type": "number",
          "description": "Identificador de l'expedient"
        },
        "permetAlegacio": {
          "type": "boolean",
          "description": "Indica si l'expedient permet realitzar al·legacions"
        },
        "permetAportacio": {
          "type": "boolean",
          "description": "Indica si l'expedient permet aportar documentació sense requerir"
        },
        "permetEsmena": {
          "type": "boolean",
          "description": "Indica si l'expedient permet realitzar esmenes"
        },
        "procediment": {
          "$ref": "#/definitions/ProcedimentConsulta"
        },
        "registre": {
          "$ref": "#/definitions/Registre"
        },
        "representant": {
          "$ref": "#/definitions/Persona"
        },
        "solicitant": {
          "$ref": "#/definitions/Persona"
        },
        "unitatGestora": {
          "description": "Unitat gestora",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "ExpedientsConsulta"
    },
    "Grups": {
      "type": "object",
      "properties": {
        "atributs": {
          "type": "array",
          "description": "Atributs del grup",
          "items": {
            "$ref": "#/definitions/Atributs"
          }
        },
        "columnes": {
          "type": "string",
          "description": "Columnes del grup d'atributs"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del grup d'atributs"
        },
        "ordre": {
          "type": "string",
          "description": "Ordre del grup d'atributs"
        },
        "urlAjuda": {
          "type": "string",
          "description": "URL d'ajuda a nivell de grup d'atributs"
        },
        "urlValidacio": {
          "type": "string",
          "description": "URL de validació a nivell de grup d'atributs"
        }
      },
      "title": "Grups"
    },
    "Historic": {
      "type": "object",
      "properties": {
        "dataCreacio": {
          "type": "string",
          "description": "Data de creació de l'històric"
        },
        "descripcio": {
          "type": "string",
          "description": "Descipció de l'històric"
        },
        "estat": {
          "type": "string",
          "description": "Estat de l'històric"
        }
      },
      "title": "Historic"
    },
    "Paginacio": {
      "type": "object",
      "properties": {
        "numeroPagina": {
          "type": "integer",
          "format": "int32",
          "description": "Número de pàgina de la cerca"
        },
        "resultatsPerPagina": {
          "type": "integer",
          "format": "int32",
          "description": "Resultats per pàgina de la cerca"
        },
        "totalPagines": {
          "type": "integer",
          "format": "int32",
          "description": "Número total de pàgines de la cerca"
        },
        "totalResultats": {
          "type": "integer",
          "format": "int64",
          "description": "Número total de resultats de la cerca"
        }
      },
      "title": "Paginacio"
    },
    "Persona": {
      "type": "object",
      "properties": {
        "cognom1": {
          "type": "string",
          "description": "Cognom 1 de la persona"
        },
        "cognom2": {
          "type": "string",
          "description": "Cognom 2 de la persona"
        },
        "dadesContacte": {
          "$ref": "#/definitions/DadesContacte"
        },
        "documentIndentitat": {
          "$ref": "#/definitions/DocumentIdentitat"
        },
        "id": {
          "type": "number",
          "description": "Identificador de la persona"
        },
        "nomRaoSocial": {
          "type": "string",
          "description": "Nom o raó social de la persona"
        },
        "tipusPersona": {
          "type": "string",
          "description": "Tipus de persona",
          "enum": [
            "FISICA",
            "JURIDICA"
          ]
        }
      },
      "title": "Persona"
    },
    "ProcedimentCerca": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del procediment"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del procediment"
        },
        "estat": {
          "type": "string",
          "description": "Estat actual del procediment",
          "enum": [
            "EN_ELABORACIO",
            "PUBLICAT",
            "FINALITZAT"
          ]
        },
        "id": {
          "type": "number",
          "description": "Identificador del procediment"
        },
        "inici": {
          "type": "array",
          "description": "Tipus d'inici del procediment",
          "items": {
            "type": "string",
            "enum": [
              "OFICI",
              "SOLICITUD",
              "ADMINISTRACIO",
              "ALTRES"
            ]
          }
        },
        "organResolutori": {
          "type": "string",
          "description": "Òrgan resolutori"
        },
        "ugo": {
          "type": "array",
          "description": "Llista d'unitats gestores operatives",
          "items": {
            "$ref": "#/definitions/UnitatGestora"
          }
        },
        "ugr": {
          "description": "Unitat gestora responsable",
          "$ref": "#/definitions/UnitatGestora"
        },
        "versio": {
          "type": "string",
          "description": "Versió del procediment"
        }
      },
      "title": "ProcedimentCerca"
    },
    "ProcedimentConsulta": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del procediment"
        },
        "dadesIdentificacio": {
          "description": "Dades d'identificació del procediment",
          "$ref": "#/definitions/DadesIdentificacio"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del procediment"
        },
        "estat": {
          "type": "string",
          "description": "Estat actual del procediment",
          "enum": [
            "EN_ELABORACIO",
            "PUBLICAT",
            "FINALITZAT"
          ]
        },
        "id": {
          "type": "number",
          "description": "Identificador del procediment"
        },
        "inici": {
          "type": "array",
          "description": "Tipus d'inici del procediment",
          "items": {
            "type": "string",
            "enum": [
              "OFICI",
              "SOLICITUD",
              "ADMINISTRACIO",
              "ALTRES"
            ]
          }
        },
        "organResolutori": {
          "type": "string",
          "description": "Òrgan resolutori"
        },
        "tramits": {
          "description": "Tràmits del procediment",
          "$ref": "#/definitions/Tramits"
        },
        "ugo": {
          "type": "array",
          "description": "Llista d'unitats gestores operatives",
          "items": {
            "$ref": "#/definitions/UnitatGestora"
          }
        },
        "ugr": {
          "description": "Unitat gestora responsable",
          "$ref": "#/definitions/UnitatGestora"
        },
        "versio": {
          "type": "string",
          "description": "Versió del procediment"
        }
      },
      "title": "ProcedimentConsulta"
    },
    "Registre": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del registre"
        },
        "dataRegistre": {
          "type": "string",
          "description": "Data del registre"
        },
        "persona": {
          "description": "Persona que ha efectuat el registre",
          "$ref": "#/definitions/Persona"
        }
      },
      "title": "Registre"
    },
    "RespostaActualitzarSolicitud": {
      "type": "object",
      "properties": {
        "expedient": {
          "description": "Expedient actualitzat en estat esborrany",
          "$ref": "#/definitions/RespostaExpedientCrear"
        },
        "resultat": {
          "description": "Resultat de l'operació",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "RespostaActualitzarSolicitud"
    },
    "RespostaCercaProcediments": {
      "type": "object",
      "properties": {
        "data": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExpedientsCerca"
          }
        },
        "paginacio": {
          "$ref": "#/definitions/Paginacio"
        }
      },
      "title": "RespostaCercaProcediments"
    },
    "RespostaConsultaDocuments": {
      "type": "object",
      "properties": {
        "documents": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DocumentConsulta"
          }
        }
      },
      "title": "RespostaConsultaDocuments"
    },
    "RespostaConsultaExpedients": {
      "type": "object",
      "properties": {
        "expedient": {
          "$ref": "#/definitions/ExpedientsConsulta"
        }
      },
      "title": "RespostaConsultaExpedients"
    },
    "RespostaConsultaProcediments": {
      "type": "object",
      "properties": {
        "procediment": {
          "$ref": "#/definitions/ProcedimentConsulta"
        }
      },
      "title": "RespostaConsultaProcediments"
    },
    "RespostaCrearSolicitud": {
      "type": "object",
      "properties": {
        "expedient": {
          "description": "Expedient creat en estat inicial",
          "$ref": "#/definitions/RespostaExpedientCrear"
        },
        "resultat": {
          "description": "Resultat de l'operació",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "RespostaCrearSolicitud"
    },
    "RespostaDadesOperacio": {
      "type": "object",
      "properties": {
        "dadesOperacio": {
          "$ref": "#/definitions/DadesOperacio"
        }
      },
      "title": "RespostaDadesOperacio"
    },
    "RespostaExpedientCrear": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "description": "Identificador de l'expedient"
        },
        "registre": {
          "description": "Dades del registre de l'expedient",
          "$ref": "#/definitions/Registre"
        }
      },
      "title": "RespostaExpedientCrear"
    },
    "RespostaObrirExpedient": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi de l'expedient"
        },
        "id": {
          "type": "number",
          "description": "Identificador de l'expedient"
        }
      },
      "title": "RespostaObrirExpedient"
    },
    "RespostaObrirSolicitud": {
      "type": "object",
      "properties": {
        "expedient": {
          "description": "Expedient creat en estat inicial",
          "$ref": "#/definitions/RespostaObrirExpedient"
        },
        "resultat": {
          "description": "Resultat de l'operació",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "RespostaObrirSolicitud"
    },
    "RespostaRegistrarSolicitud": {
      "type": "object",
      "properties": {
        "expedient": {
          "description": "Resultat de l'operació",
          "$ref": "#/definitions/RespostaExpedientCrear"
        },
        "resultat": {
          "description": "Resultat de l'operació",
          "$ref": "#/definitions/UnitatGestora"
        }
      },
      "title": "RespostaRegistrarSolicitud"
    },
    "SolicitudActualitzar": {
      "type": "object",
      "properties": {
        "atributs": {
          "type": "array",
          "description": "Atributs",
          "items": {
            "$ref": "#/definitions/SolicitudActualitzar"
          }
        },
        "codi": {
          "type": "string",
          "description": "Codi de l'atribut"
        },
        "codiProcediment": {
          "type": "string",
          "description": "Codi del procediment"
        },
        "codiUnitatGestora": {
          "type": "string",
          "description": "Codi de la Unitat Gestora"
        },
        "documents": {
          "type": "array",
          "description": "Documents",
          "items": {
            "$ref": "#/definitions/DocumentActualitzar"
          }
        },
        "id": {
          "type": "number",
          "description": "Identificador de l'atribut"
        },
        "inici": {
          "type": "string",
          "description": "Tipus d'inici de l'expedient",
          "enum": [
            "OFICI",
            "SOLICITUD",
            "ADMINISTRACIO",
            "ALTRES"
          ]
        },
        "representant": {
          "description": "Persona representant",
          "$ref": "#/definitions/Persona"
        },
        "solicitant": {
          "description": "Persona sol·licitant",
          "$ref": "#/definitions/Persona"
        },
        "valor": {
          "type": "string",
          "description": "Valor de l'atribut"
        },
        "versioProcediment": {
          "type": "string",
          "description": "Versió del procediment"
        }
      },
      "title": "SolicitudActualitzar"
    },
    "SolicitudCrear": {
      "type": "object",
      "properties": {
        "codiProcediment": {
          "type": "string",
          "description": "Codi del procediment"
        },
        "codiUnitatGestora": {
          "type": "string",
          "description": "Codi de la Unitat Gestora"
        },
        "inici": {
          "type": "string",
          "description": "Tipus d'inici de l'expedient",
          "enum": [
            "OFICI",
            "SOLICITUD",
            "ADMINISTRACIO",
            "ALTRES"
          ]
        },
        "representant": {
          "description": "Persona representant",
          "$ref": "#/definitions/Persona"
        },
        "solicitant": {
          "description": "Persona sol·licitant",
          "$ref": "#/definitions/Persona"
        },
        "versioProcediment": {
          "type": "string",
          "description": "Versió del procediment"
        }
      },
      "title": "SolicitudCrear"
    },
    "TerminisDuracio": {
      "type": "object",
      "properties": {
        "dataFiVigencia": {
          "type": "string",
          "description": "Data fi vigència"
        },
        "dataIniciVigencia": {
          "type": "string",
          "description": "Data inici vigència"
        },
        "periodicitat": {
          "type": "string",
          "description": "Periodicitat del procediment",
          "enum": [
            "CONTINU",
            "ESTACIONAL",
            "PUNTUAL",
            "ESPORADIC"
          ]
        },
        "terminiMaxim": {
          "type": "string",
          "description": "Termini màxim de duració del procediment"
        },
        "unitat": {
          "type": "string",
          "description": "Unitat de mesura del termini de duració",
          "enum": [
            "DIES_HABILS",
            "DIES_NATURALS",
            "MESOS",
            "ANYS",
            "HORES",
            "INMEDIAT"
          ]
        }
      },
      "title": "TerminisDuracio"
    },
    "Tramits": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi del tràmit"
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del tràmit"
        },
        "id": {
          "type": "number",
          "description": "Identificador del tràmit"
        }
      },
      "title": "Tramits"
    },
    "UnitatGestora": {
      "type": "object",
      "properties": {
        "codi": {
          "type": "string",
          "description": "Codi resultat de l'operació",
          "enum": [
            "FISICA",
            "JURIDICA"
          ]
        },
        "descripcio": {
          "type": "string",
          "description": "Descripció del resultat de l'operació"
        }
      },
      "title": "UnitatGestora"
    }
  }
}