<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="es.bcn.gpa.gpaserveis.integration.orm.dao.AuditServeisSignaturesDao">
  <resultMap id="BaseResultMap" type="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    <id column="ASM_ID" jdbcType="DECIMAL" property="id" />
    <result column="ASM_MOMENT_EXECUCIO" jdbcType="TIMESTAMP" property="momentExecucio" />
    <result column="ASM_USUARI" jdbcType="NVARCHAR" property="usuari" />
    <result column="ASM_MAPPING_ACCIO" jdbcType="NVARCHAR" property="mappingAccio" />
    <result column="ASM_VALUE_ACCIO" jdbcType="NVARCHAR" property="valueAccio" />
    <result column="ASM_TIPUS_PETICIO" jdbcType="NVARCHAR" property="tipusPeticio" />
    <result column="ASM_RESULTAT" jdbcType="NVARCHAR" property="resultat" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    <result column="ASM_DADES_AUTH" jdbcType="CLOB" property="dadesAuth" />
    <result column="ASM_DADES_ENTRADA" jdbcType="CLOB" property="dadesEntrada" />
    <result column="ASM_DADES_RESPOSTA" jdbcType="CLOB" property="dadesResposta" />
    <result column="ASM_DETALL_ERROR" jdbcType="CLOB" property="detallError" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ASM.ID as ASM_ID, ASM.MOMENT_EXECUCIO as ASM_MOMENT_EXECUCIO, ASM.USUARI as ASM_USUARI, 
    ASM.MAPPING_ACCIO as ASM_MAPPING_ACCIO, ASM.VALUE_ACCIO as ASM_VALUE_ACCIO, ASM.TIPUS_PETICIO as ASM_TIPUS_PETICIO, 
    ASM.RESULTAT as ASM_RESULTAT
  </sql>
  <sql id="Blob_Column_List">
    ASM.DADES_AUTH as ASM_DADES_AUTH, ASM.DADES_ENTRADA as ASM_DADES_ENTRADA, ASM.DADES_RESPOSTA as ASM_DADES_RESPOSTA, 
    ASM.DETALL_ERROR as ASM_DETALL_ERROR
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeisExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from AUDIT_SERVEIS_MDS ASM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from AUDIT_SERVEIS_MDS ASM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from AUDIT_SERVEIS_MDS ASM
    where ASM.ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
    delete from AUDIT_SERVEIS_MDS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeisExample">
    delete from AUDIT_SERVEIS_MDS ASM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.math.BigDecimal">
      SELECT SERVEIS_MDS_ID_SEQUENCE.NEXTVAL FROM DUAL
    </selectKey>
    insert into AUDIT_SERVEIS_MDS (ID, MOMENT_EXECUCIO, USUARI, 
      MAPPING_ACCIO, VALUE_ACCIO, TIPUS_PETICIO, 
      RESULTAT, DADES_AUTH, DADES_ENTRADA, 
      DADES_RESPOSTA, DETALL_ERROR)
    values (#{id,jdbcType=DECIMAL}, #{momentExecucio,jdbcType=TIMESTAMP}, #{usuari,jdbcType=NVARCHAR}, 
      #{mappingAccio,jdbcType=NVARCHAR}, #{valueAccio,jdbcType=NVARCHAR}, #{tipusPeticio,jdbcType=NVARCHAR}, 
      #{resultat,jdbcType=NVARCHAR}, #{dadesAuth,jdbcType=CLOB}, #{dadesEntrada,jdbcType=CLOB}, 
      #{dadesResposta,jdbcType=CLOB}, #{detallError,jdbcType=CLOB})
  </insert>
  <insert id="insertSelective" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.math.BigDecimal">
      SELECT SERVEIS_MDS_ID_SEQUENCE.NEXTVAL FROM DUAL
    </selectKey>
    insert into AUDIT_SERVEIS_MDS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      ID,
      <if test="momentExecucio != null">
        MOMENT_EXECUCIO,
      </if>
      <if test="usuari != null">
        USUARI,
      </if>
      <if test="mappingAccio != null">
        MAPPING_ACCIO,
      </if>
      <if test="valueAccio != null">
        VALUE_ACCIO,
      </if>
      <if test="tipusPeticio != null">
        TIPUS_PETICIO,
      </if>
      <if test="resultat != null">
        RESULTAT,
      </if>
      <if test="dadesAuth != null">
        DADES_AUTH,
      </if>
      <if test="dadesEntrada != null">
        DADES_ENTRADA,
      </if>
      <if test="dadesResposta != null">
        DADES_RESPOSTA,
      </if>
      <if test="detallError != null">
        DETALL_ERROR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{id,jdbcType=DECIMAL},
      <if test="momentExecucio != null">
        #{momentExecucio,jdbcType=TIMESTAMP},
      </if>
      <if test="usuari != null">
        #{usuari,jdbcType=NVARCHAR},
      </if>
      <if test="mappingAccio != null">
        #{mappingAccio,jdbcType=NVARCHAR},
      </if>
      <if test="valueAccio != null">
        #{valueAccio,jdbcType=NVARCHAR},
      </if>
      <if test="tipusPeticio != null">
        #{tipusPeticio,jdbcType=NVARCHAR},
      </if>
      <if test="resultat != null">
        #{resultat,jdbcType=NVARCHAR},
      </if>
      <if test="dadesAuth != null">
        #{dadesAuth,jdbcType=CLOB},
      </if>
      <if test="dadesEntrada != null">
        #{dadesEntrada,jdbcType=CLOB},
      </if>
      <if test="dadesResposta != null">
        #{dadesResposta,jdbcType=CLOB},
      </if>
      <if test="detallError != null">
        #{detallError,jdbcType=CLOB},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeisExample" resultType="java.lang.Long">
    select count(*) from AUDIT_SERVEIS_MDS ASM
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update AUDIT_SERVEIS_MDS ASM
    <set>
      <if test="record.id != null">
        ASM.ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.momentExecucio != null">
        ASM.MOMENT_EXECUCIO = #{record.momentExecucio,jdbcType=TIMESTAMP},
      </if>
      <if test="record.usuari != null">
        ASM.USUARI = #{record.usuari,jdbcType=NVARCHAR},
      </if>
      <if test="record.mappingAccio != null">
        ASM.MAPPING_ACCIO = #{record.mappingAccio,jdbcType=NVARCHAR},
      </if>
      <if test="record.valueAccio != null">
        ASM.VALUE_ACCIO = #{record.valueAccio,jdbcType=NVARCHAR},
      </if>
      <if test="record.tipusPeticio != null">
        ASM.TIPUS_PETICIO = #{record.tipusPeticio,jdbcType=NVARCHAR},
      </if>
      <if test="record.resultat != null">
        ASM.RESULTAT = #{record.resultat,jdbcType=NVARCHAR},
      </if>
      <if test="record.dadesAuth != null">
        ASM.DADES_AUTH = #{record.dadesAuth,jdbcType=CLOB},
      </if>
      <if test="record.dadesEntrada != null">
        ASM.DADES_ENTRADA = #{record.dadesEntrada,jdbcType=CLOB},
      </if>
      <if test="record.dadesResposta != null">
        ASM.DADES_RESPOSTA = #{record.dadesResposta,jdbcType=CLOB},
      </if>
      <if test="record.detallError != null">
        ASM.DETALL_ERROR = #{record.detallError,jdbcType=CLOB},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update AUDIT_SERVEIS_MDS ASM
    set ASM.ID = #{record.id,jdbcType=DECIMAL},
      ASM.MOMENT_EXECUCIO = #{record.momentExecucio,jdbcType=TIMESTAMP},
      ASM.USUARI = #{record.usuari,jdbcType=NVARCHAR},
      ASM.MAPPING_ACCIO = #{record.mappingAccio,jdbcType=NVARCHAR},
      ASM.VALUE_ACCIO = #{record.valueAccio,jdbcType=NVARCHAR},
      ASM.TIPUS_PETICIO = #{record.tipusPeticio,jdbcType=NVARCHAR},
      ASM.RESULTAT = #{record.resultat,jdbcType=NVARCHAR},
      ASM.DADES_AUTH = #{record.dadesAuth,jdbcType=CLOB},
      ASM.DADES_ENTRADA = #{record.dadesEntrada,jdbcType=CLOB},
      ASM.DADES_RESPOSTA = #{record.dadesResposta,jdbcType=CLOB},
      ASM.DETALL_ERROR = #{record.detallError,jdbcType=CLOB}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update AUDIT_SERVEIS_MDS ASM
    set ASM.ID = #{record.id,jdbcType=DECIMAL},
      ASM.MOMENT_EXECUCIO = #{record.momentExecucio,jdbcType=TIMESTAMP},
      ASM.USUARI = #{record.usuari,jdbcType=NVARCHAR},
      ASM.MAPPING_ACCIO = #{record.mappingAccio,jdbcType=NVARCHAR},
      ASM.VALUE_ACCIO = #{record.valueAccio,jdbcType=NVARCHAR},
      ASM.TIPUS_PETICIO = #{record.tipusPeticio,jdbcType=NVARCHAR},
      ASM.RESULTAT = #{record.resultat,jdbcType=NVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    update AUDIT_SERVEIS_MDS
    <set>
      <if test="momentExecucio != null">
        MOMENT_EXECUCIO = #{momentExecucio,jdbcType=TIMESTAMP},
      </if>
      <if test="usuari != null">
        USUARI = #{usuari,jdbcType=NVARCHAR},
      </if>
      <if test="mappingAccio != null">
        MAPPING_ACCIO = #{mappingAccio,jdbcType=NVARCHAR},
      </if>
      <if test="valueAccio != null">
        VALUE_ACCIO = #{valueAccio,jdbcType=NVARCHAR},
      </if>
      <if test="tipusPeticio != null">
        TIPUS_PETICIO = #{tipusPeticio,jdbcType=NVARCHAR},
      </if>
      <if test="resultat != null">
        RESULTAT = #{resultat,jdbcType=NVARCHAR},
      </if>
      <if test="dadesAuth != null">
        DADES_AUTH = #{dadesAuth,jdbcType=CLOB},
      </if>
      <if test="dadesEntrada != null">
        DADES_ENTRADA = #{dadesEntrada,jdbcType=CLOB},
      </if>
      <if test="dadesResposta != null">
        DADES_RESPOSTA = #{dadesResposta,jdbcType=CLOB},
      </if>
      <if test="detallError != null">
        DETALL_ERROR = #{detallError,jdbcType=CLOB},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    update AUDIT_SERVEIS_MDS
    set MOMENT_EXECUCIO = #{momentExecucio,jdbcType=TIMESTAMP},
      USUARI = #{usuari,jdbcType=NVARCHAR},
      MAPPING_ACCIO = #{mappingAccio,jdbcType=NVARCHAR},
      VALUE_ACCIO = #{valueAccio,jdbcType=NVARCHAR},
      TIPUS_PETICIO = #{tipusPeticio,jdbcType=NVARCHAR},
      RESULTAT = #{resultat,jdbcType=NVARCHAR},
      DADES_AUTH = #{dadesAuth,jdbcType=CLOB},
      DADES_ENTRADA = #{dadesEntrada,jdbcType=CLOB},
      DADES_RESPOSTA = #{dadesResposta,jdbcType=CLOB},
      DETALL_ERROR = #{detallError,jdbcType=CLOB}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="es.bcn.gpa.gpaserveis.integration.orm.model.AuditServeis">
    update AUDIT_SERVEIS_MDS
    set MOMENT_EXECUCIO = #{momentExecucio,jdbcType=TIMESTAMP},
      USUARI = #{usuari,jdbcType=NVARCHAR},
      MAPPING_ACCIO = #{mappingAccio,jdbcType=NVARCHAR},
      VALUE_ACCIO = #{valueAccio,jdbcType=NVARCHAR},
      TIPUS_PETICIO = #{tipusPeticio,jdbcType=NVARCHAR},
      RESULTAT = #{resultat,jdbcType=NVARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>